# IntelliJ IDEA
out/
!.idea/out/
!**/src/main/**/out/
!**/src/test/**/out/

#vscode
.vscode/
bin/
data/

# mac OS
.DS_Store

# Gradle files
.gradle/
build/

# Files and directories for local use only
/src/main/resources/

# IntelliJ IDEA files and directories
.idea/
##*.iml
##*.ipr
##*.iws






