### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Mac OS ###
.DS_Store

### my bs ###

/src/resources/

### intellij bs ###
.idea/uiDesigner.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/G4P.xml




